* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #25272C,#373A47);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 650px;
    height: 730px;
    background: #0b1e2d;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rbga(0,0,0,0.6);
}

.chat-header {
    padding: 15px;
    text-align: left;
    color: ghostwhite;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}


.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    color: ghostwhite;
}


.message {
    margin-bottom: 12px;
    display: flex;
}

.message.user {
    justify-content: flex-end;
}

.message.bot {
    justify-content: flex-start;
}

.bubble {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 14px;
    font-size: 14px;
    line-height: 1.4;
}

.message.user.bubble {
    background: #163a5f;
    color: #e6ede6;
    border-bottom-right-radius: 4px;
}

.message.bot.bubble {
    background: #1e293b;
    color: #e5e7eb;
    border-bottom-left-radius: 4px;
}

.chat-input {
    display: flex;
    padding: 12px;
    border-top: 1px solid rgba(255,255,255,0.1);
    gap: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #162a3a;
    color: #ffffff;
}

.chat-input input::placeholder {
    color: #9aa5ad;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 14px;
    background: linear-gradient(135deg, #0f2077, #203a43, #2c4364);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.chat-input button:hover {
    opacity: 0.9;
    transform: scale(1.03);
}
