body {
    margin: 0;
    background: black;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -2;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    transform: scale(1.1);
}

.big-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
}

.content-wrapper {
    max-width: 1100px;
    margin: 80px auto;
    padding: 20px;
}

.plot-details {
    display: flex;
    gap: 24px;
    background:rgba(64,64,64,1);
    border-radius: 16px;
    padding: 24px;
    width: 1100px;
    margin: 80px auto;
    background-image: linear-gradient(
        to top,
        rgba(64, 64, 64, 1) 0%,
        rgba(128, 128, 128, 0.6) 50%,
        rgba(192, 192, 192, 0.3) 100%
    );
    border: 1px solid rgba(255,255,255,0.2);
    
}

.movie-card {
    display: flex;
    gap: 24px;
    background:rgba(64,64,64,1);
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(
        to top,
        rgba(64, 64, 64, 1) 0%,
        rgba(128, 128, 128, 0.6) 50%,
        rgba(192, 192, 192, 0.3) 100%
    );
    border: 1px solid rgba(255,255,255,0.2);   
}

.poster {
    width: 440px;
    border-radius: 12px;
}

.details {
    font-size: 34px;
    margin-bottom: 10px;
}

.details h2 {
    color: ghostwhite;
}

.meta {
    display: flex;
    gap: 14px;
    color: #aaa;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 1.6;
}

.movie-divider {
    width: 60%;
    height: 2px;
    margin: 18px 0 22px 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    border-radius: 2px;
}

.divider {
    width: 80%;
    height: 2px;
    margin: 18px 0 22px 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    border-radius: 2px;
}

.plot {
    font-size: 18px;
    line-height: 1.6;
    color: #ddd;
}


.watch-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: grey;
    color: ghostwhite;
    text-decoration: none;
    border-radius: 6px;
    width: 500px;
    height: 30px;
    text-align: left;
    font-size: 25px;
    background-image: linear-gradient(
        to top,
        rgba(64, 64, 64, 1) 0%,
        rgba(128, 128, 128, 0.6) 50%,
        rgba(192, 192, 192, 0.3) 100%
    );
}

.recommendations {
    margin-top: 40px;
}
.recommendations h2 {
    color: ghostwhite;
}


.rec-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
    gap: 25px;
}

.rec-grid img {
    width: 100%;
    border-radius: 8px;
}

.chat-icon {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background: hsl(210, 80%, 25%);
    color: ghostwhite;
    padding: 12px 18px;
    border-radius: 100px;
    font-size: 22px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    background-color: rgba(50, 82, 123, 1);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(50, 82, 123, 0.8);
    text-decoration: none;
    transition: transform 0.2s ease,box-shadow 0.2s ease;


}

.chat-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0,0,0,04);
}